/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */

#rap {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* #rap {
    background-image: radial-gradient(circle, red, yellow, green);
  } */