
.subtitle{
    color: rgb(166, 227, 33);
}
.ribbon{
    background-color: #5BC8F7;
}
.ribbon::after {
    content:"Bu ajoyib apelsin qutisi.";
    background-color:red;
    border-style:dotted;
    border-color:black
}