/* .ribbon{
    background-color: #5BC8F7;
}
.ribbon::after {
    content:"This is a fancy orange box.";
    background-color:red;
    border-style:dotted;
    border-color:black
} */



/* #grad {
    background-image: linear-gradient(red, yellow);
  }  */



  /* #grand {
    background-image: linear-gradient(red, yellow, green);
  } */

 
 
  #grand {
    background-image: radial-gradient(circle, red, yellow, green);
  }